<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Mi Sitio de Páginas</h1>
        <nav>
            <a href="{% url 'saludo' %}">Saludo Inicial</a>
            <a href="{% url 'info' %}">Información</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'contacto' %}">Contactos</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p>Derechos reservados © 2025 </p>
    </footer>
</body>
</html>

