{% extends "paginas/base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

    <h2>Bienvenido/a, {{ usuario }} </h2>

    {% if usuario_activo %}
        <p>Tu cuenta está activa</p>
    {% else %}
        <p>Por favor, activa tu cuenta...</p>
    {% endif %}

    <h3>Tus cursos</h3>
    <ul>
        {% for curso in cursos %}
            <li>{{ curso }}</li>
        {% empty %}
            <li>No hay cursos disponibles...</li>
        {% endfor %}
    </ul>

{% endblock %}